In [47]:
import pandas as pd
import numpy
import math
import os
import datetime
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
for dirname, _, filenames in os.walk('/LAB-5'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\cleaned_iris.csv
C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\Iris.csv
C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\long_format_iris.csv
C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\Pandas-Lab.pdf
C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\rough.py
C:/Users/PMLS/Desktop/SEM-5/Into to DS/Intro to DS/LAB5\Solution.ipynb

In [49]:
data = pd.read_csv('/LAB-5/Iris.csv')

In [50]:
print(data.shape)
data.head(10)

(150, 6)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

### TASK - 1
___

### Data Inspection And Handling Missing Value.

In [51]:
missing_values = data.isna().sum()
print(missing_values)

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [52]:
numeric_columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
for col in numeric_columns:
    data[col] = data[col].fillna(data[col].mean())
    
data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [53]:
if data['Species'].isna().sum() > 0:
    data['Species'] = data['Species'].fillna(data['Species'].mode())

### TASK - 2
___

### Data Cleaning and Transformation

In [54]:
data.drop_duplicates(inplace=True)
data['PetalAreaCm'] = data['PetalLengthCm'] * data['PetalWidthCm']
data.head(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,PetalAreaCm
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.28
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.28
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.26
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.30
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.28

In [55]:
numeric_columns = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
for i in numeric_columns:
    if data[i].isna().sum() > 0:
        data.dropna(i)
data.head(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,PetalAreaCm
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.28
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.28
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.26
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.30
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.28

### TASK - 3
___

### Data Aggregation

In [56]:
data['species_numeric'] = data['Species'].astype('category').cat.codes
aggregation = data.groupby('Species')[numeric_columns].mean()
print("Mean of numeric columns grouped by species:")
print(aggregation)

Mean of numeric columns grouped by species:
                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

### TASK - 4
___

### Data Reshaping

In [57]:
long_format = data.melt(
    id_vars=['Species', 'species_numeric'],
    value_vars=numeric_columns,
    var_name='measurement_type',
    value_name='measurement_value')
print("Long format of the dataset:")
print(long_format.head())
data.to_csv('cleaned_iris.csv', index=False)
long_format.to_csv(r'C:\Users\PMLS\Desktop\SEM-5\Into to DS\Intro to DS\LAB5', index=False)

print("Data cleaning, transformation, and reshaping completed.")

Long format of the dataset:
       Species  species_numeric measurement_type  measurement_value
0  Iris-setosa                0    SepalLengthCm                5.1
1  Iris-setosa                0    SepalLengthCm                4.9
2  Iris-setosa                0    SepalLengthCm                4.7
3  Iris-setosa                0    SepalLengthCm                4.6
4  Iris-setosa                0    SepalLengthCm                5.0

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\PMLS\\Desktop\\SEM-5\\Into to DS\\Intro to DS\\LAB5'