<h1><center>Assigment - 1</center></h1>

---
## Task 1: Load and Inspect Datasets

In [76]:
import pandas as pd
import pandas as pd

# Load the datasets
customers_df = pd.read_csv('CUSTOMER.csv')
sales_df = pd.read_csv('SALES.csv')

# Display the first few rows of each dataset
print("First few rows of Customers dataset:")
print(customers_df.head())

print("\nFirst few rows of Sales dataset:")
print(sales_df.head())

# Show the total number of rows and columns
print("\nCustomers dataset shape:", customers_df.shape)
print("Sales dataset shape:", sales_df.shape)

# Check for missing values
print("\nMissing values in Customers dataset:")
print(customers_df.isnull().sum())

print("\nMissing values in Sales dataset:")
print(sales_df.isnull().sum())

# Handle missing values (e.g., fill with placeholder or drop rows)
customers_df.fillna('Unknown', inplace=True)
sales_df.fillna(0, inplace=True)

First few rows of Customers dataset:
   CustomerID   Age          City
0           1    22      New York
1           2    23   Los Angeles
2           3    24       Chicago
3           4    25       Houston
4           5    26       Phoenix

First few rows of Sales dataset:
   SaleID   CustomerID      Product   Amount
0     101            1       Laptop      200
1     102            2   Smartphone      500
2     103            3       Tablet      800
3     104            4   Headphones     1100
4     105            5      Monitor     1400

Customers dataset shape: (100, 3)
Sales dataset shape: (400, 4)

Missing values in Customers dataset:
CustomerID    0
 Age          0
 City         0
dtype: int64

Missing values in Sales dataset:
SaleID         0
 CustomerID    0
 Product       0
 Amount        0
dtype: int64

---
## Task 2: Convert to Dictionary and Filter Customers by City

In [77]:
from time import time
customers_df.columns = customers_df.columns.str.strip()
sales_df.columns = sales_df.columns.str.strip()
# Convert Customers data to a dictionary
customers_dict = customers_df.to_dict(orient='records')

# Filter customers from a specific city using the dictionary
city_name = ' New York'  
start_time = time()
filtered_customers_dict = [customer for customer in customers_dict if customer['City'] == city_name]
print(f"\nFiltered customers from {city_name} using dictionary:\n", filtered_customers_dict)
end_time = time()
dictionary_time = end_time - start_time

print('-'*50)


# Filter using DataFrame
start_time = time()
filtered_customers_df = customers_df[customers_df['City'] == city_name]
print(f"\nFiltered customers from {city_name} using DataFrame:\n",filtered_customers_df)
end_time = time()
dataframe_time = end_time - start_time

print('-'*50)
print('Time Analysis:')
print('Time taken by dictionary:', dictionary_time)
print('Time taken by DataFrame:', dataframe_time)
print('-'*50)

Filtered customers from  New York using dictionary:
 [{'CustomerID': 1, 'Age': 22, 'City': ' New York'}, {'CustomerID': 6, 'Age': 27, 'City': ' New York'}, {'CustomerID': 11, 'Age': 32, 'City': ' New York'}, {'CustomerID': 16, 'Age': 37, 'City': ' New York'}, {'CustomerID': 21, 'Age': 42, 'City': ' New York'}, {'CustomerID': 26, 'Age': 47, 'City': ' New York'}, {'CustomerID': 31, 'Age': 22, 'City': ' New York'}, {'CustomerID': 36, 'Age': 27, 'City': ' New York'}, {'CustomerID': 41, 'Age': 32, 'City': ' New York'}, {'CustomerID': 46, 'Age': 37, 'City': ' New York'}, {'CustomerID': 51, 'Age': 42, 'City': ' New York'}, {'CustomerID': 56, 'Age': 47, 'City': ' New York'}, {'CustomerID': 61, 'Age': 22, 'City': ' New York'}, {'CustomerID': 66, 'Age': 27, 'City': ' New York'}, {'CustomerID': 71, 'Age': 32, 'City': ' New York'}, {'CustomerID': 76, 'Age': 37, 'City': ' New York'}, {'CustomerID': 81, 'Age': 42, 'City': ' New York'}, {'CustomerID': 86, 'Age': 47, 'City': ' New York'}, {'CustomerID': 91, 'Age': 22, 'City': ' New York'}, {'CustomerID': 96, 'Age': 27, 'City': ' New York'}]
--------------------------------------------------

Filtered customers from  New York using DataFrame:
     CustomerID  Age       City
0            1   22   New York
5            6   27   New York
10          11   32   New York
15          16   37   New York
20          21   42   New York
25          26   47   New York
30          31   22   New York
35          36   27   New York
40          41   32   New York
45          46   37   New York
50          51   42   New York
55          56   47   New York
60          61   22   New York
65          66   27   New York
70          71   32   New York
75          76   37   New York
80          81   42   New York
85          86   47   New York
90          91   22   New York
95          96   27   New York
--------------------------------------------------
Time Analysis:
Time taken by dictionary: 0.0
Time taken by DataFrame: 0.0312497615814209
--------------------------------------------------

---
## Task 3: Data Aggregation and Analysis

In [78]:
# Check for duplicates
print("\nDuplicates in Customers dataset:", customers_df.duplicated().sum())
print("Duplicates in Sales dataset:", sales_df.duplicated().sum())

# Remove duplicates
customers_df.drop_duplicates(inplace=True)
sales_df.drop_duplicates(inplace=True)

# Verify no duplicates remain
print("\nAfter removing duplicates:")
print("Duplicates in Customers dataset:", customers_df.duplicated().sum())
print("Duplicates in Sales dataset:", sales_df.duplicated().sum())

Duplicates in Customers dataset: 0
Duplicates in Sales dataset: 0

After removing duplicates:
Duplicates in Customers dataset: 0
Duplicates in Sales dataset: 0

---
## Task 4:  Add Discounted Amount and Group by Product

In [79]:
# Add a discounted amount column
sales_df['Discounted_Amount'] = sales_df['Amount'] * 0.9

# Group by Product and calculate total sales
grouped_sales = sales_df.groupby('Product')['Discounted_Amount'].sum().reset_index()
grouped_sales.columns = ['Product', 'Total_Discounted_Sales']

print("\nTotal sales for each product after discount:")
print(grouped_sales)

Total sales for each product after discount:
       Product  Total_Discounted_Sales
0   Headphones                 79200.0
1       Laptop                 14400.0
2      Monitor                100800.0
3   Smartphone                 36000.0
4       Tablet                 57600.0

---
## Task 5: Filter Customers by Age and Analyze Cities

In [80]:
# Filter customers by age
filtered_by_age = customers_df[(customers_df['Age'] >= 25) & (customers_df['Age'] <= 35)]

# Count customers per city
city_counts = filtered_by_age['City'].value_counts()

print("\nCity-wise customer count (age 25-35):")
print(city_counts)

# Save filtered data
filtered_by_age.to_csv('Filtered_Customers_Age_25_35.csv', index=False)

City-wise customer count (age 25-35):
City
Houston        11
Phoenix         8
New York        7
Los Angeles     7
Chicago         7
Name: count, dtype: int64

---
## Task 6: Merge Datasets and Analyze Sales

In [81]:
# Merge datasets on CustomerID
merged_df = pd.merge(customers_df, sales_df, on='CustomerID', how='inner')

# Identify city with the highest total sales
city_sales = merged_df.groupby('City')['Discounted_Amount'].sum().reset_index()
top_city = city_sales.loc[city_sales['Discounted_Amount'].idxmax()]

print(f"\nCity with the highest total sales: {top_city['City']} (${top_city['Discounted_Amount']})")

# Count the occurrences of each product to estimate the units sold
top_product = merged_df['Product'].value_counts().idxmax()

print(f"\nProduct with the most units sold (based on occurrences): {top_product}")

City with the highest total sales:  Phoenix ($100800.0)

Product with the most units sold (based on occurrences):  Laptop


---
##  Unique Values and Statistics

In [82]:
# Unique values in City and Product columns
unique_cities = merged_df['City'].unique()
unique_products = merged_df['Product'].unique()

print("\nUnique cities:", unique_cities)
print("Unique products:", unique_products)

# Mean and median of the Amount column
mean_amount = merged_df['Amount'].mean()
median_amount = merged_df['Amount'].median()

print(f"\nMean of Amount: {mean_amount}")
print(f"Median of Amount: {median_amount}")

Unique cities: [' New York' ' Los Angeles' ' Chicago' ' Houston' ' Phoenix']
Unique products: [' Laptop' ' Smartphone' ' Tablet' ' Headphones' ' Monitor']

Mean of Amount: 800.0
Median of Amount: 800.0

<h3><center> Thankyou :) </center></h3>
---